In [1]:
# Imports all dependencies

import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests

In [2]:
# determines the urls for all of the source sites

urlnews = "https://mars.nasa.gov/news/"
urlimage = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
urltwitter= "https://twitter.com/marswxreport?lang=en"
urlmarsfacts = "http://space-facts.com/mars/"
urlmapmars="http://www.planetary.org/blogs/guest-blogs/bill-dunford/20140203-the-faces-of-mars.html"

In [121]:
# Starts the splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [35]:
# Scrapes the nasa mars news
# prepares the browser
browser.visit(urlnews)
html = browser.html
soup  = BeautifulSoup(html, 'html.parser')
# finds the source of the news we're scraping
newssource= soup.find("div", class_= "list_text")
newssource
newstitle= newssource.find("div", class_="content_title")
news_title = newstitle.text
newsp = newssource.find("div", class_="article_teaser_body")
newsp
news_p = newsp.text
# prints the news title and the snippet
print(news_title)
print(news_p)

NASA's InSight Places First Instrument on Mars
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [62]:
# Scrapes the images for the current featured mars image
# prepares the browser
browser.visit(urlimage)
browser.click_link_by_partial_text('FULL IMAGE')

# goes through the image to find its source
html = browser.html
soup  = BeautifulSoup(html, 'html.parser')
imgsource = soup.find("img", class_="fancybox-image")["src"]

image_url = "https://www.jpl.nasa.gov"+imgsource

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16883_ip.jpg'

In [114]:
# Scrapes the weather for mars
browser.visit(urltwitter)
html = browser.html
soup  = BeautifulSoup(html, 'html.parser')
twitsource = soup.find("div", class_="js-tweet-text-container")
twtsrc =twitsource.find("p")
twtsrc2 = twitsource.find("p").find("a")
icky = len(twtsrc2.text)
# type(icky)
mars_weather = twtsrc.text
mars_weather = mars_weather[0:-icky]
mars_weather

'Sol 2291 (2019-01-16), high -8C/17F, low -70C/-93F, pressure at 8.23 hPa, daylight 06:46-18:55'

In [122]:
# Scrapes the facts from mars

browser.visit(urlmarsfacts)
html = browser.html
soup  = BeautifulSoup(html, 'html.parser')
datasource = soup.find("table")
datasource
facts_df = pd.read_html(str(datasource))[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers